/* NAVIGATION */

.view-container {
  max-width: 545px;
}

.nav-list.block {
  display: block;
}
.logo {
  width: 135px;
}
.navigation {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1) !important;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  background: none;
  width: 122px;
  height: 41px;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  color: var(--btn-color);
  text-transform: uppercase;
  font-weight: 600;
  margin: 12px 0;
  transition: 0.5s;
  padding: 8px;
  border: 2px solid;
}
nav ul li a:hover {
  background: var(--btn-color);
  color: #fff !important;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}

.navigation {
  height: 70px;
  background: #ffffff;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
}

/* END NAVIGATION */

.first-box-info {
  border: 1px solid lightgray;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px 0.25rem 1rem rgba(19, 2, 12, 0.15);
}

.img-container {
  margin: 0;
}

.img-container img {
  border-radius: 0px 5px 5px 0px;
}

.cover img {
  width: 100%;
  max-height: 345px;
}

.badge1 > app-badge > .category-info > .badge-category {
  height: 50px !important;
}

.description {
  max-height: 261px;
  overflow: auto;
  margin: auto;
}

.back img {
  width: 25px;
}

/* GALLERY */

.template-carousel-section .carousel-sample {
  margin: 0 auto 2em;
}

.templateCarousel .e-carousel-navigators .e-previous,
.templateCarousel .e-carousel-navigators .e-next,
.templateCarousel .e-carousel-navigators .nav-btn {
  padding: 0;
}

.templateCarousel .e-carousel-navigators .nav-btn:active,
.templateCarousel .e-carousel-navigators .nav-btn:focus,
.templateCarousel .e-carousel-navigators .nav-btn:hover {
  background-color: transparent !important;
  color: inherit;
}

.templateCarousel .e-carousel-navigators svg {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: 8px;
  height: 2rem;
  vertical-align: middle;
  width: 2rem;
}

.templateCarousel .e-carousel-navigators .e-previous svg {
  transform: rotate(180deg);
}

.templateCarousel
  .e-carousel-indicators
  .e-indicator-bars
  .e-indicator-bar
  .indicator {
  background-color: #ececec;
  border-radius: 0.25rem;
  cursor: pointer;
  height: 3.5rem;
  margin: 0.25rem;
  width: 5rem;
}

.templateCarousel
  .e-carousel-indicators
  .e-indicator-bars
  .e-indicator-bar.e-active
  .indicator {
  background-color: #3c78ef;
}

.e-template.e-active {
  background: #3c78ef;
}

@media screen and (max-width: 480px) {
  .template-carousel-section .carousel-sample {
    width: 100%;
    height: 250px;
  }

  .templateCarousel .img-container {
    margin: 12px;
  }
}

@media screen and (max-width: 768px) {
  .img-container {
    height: 100% !important;
  }
}

/* END GALLERY */

.footer {
    width: 100%;
}