<div *ngIf="language">
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a routerLink=""><img src="../../../assets/images/logo.png" class="logo" alt="logo"></a>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a href="javascript:void(null)" id="nav-toggle" (click)="showHideMobileMenu()"><span></span></a>
                </div>
                <ul class="nav-list {{showHideMenu}}">
                    <li class="select-option">
                        <ejs-combobox *ngIf="listOfCities" [cssClass]="'e-outline'" [id]="selectedCityId"
                            [dataSource]="listOfCities" [fields]="{text: 'name', value: 'id'}"
                            [(ngModel)]="selectedCityId" [value]="selectedCityId"
                            [placeholder]="language.selectNameOfCity" [allowFiltering]="true"
                            [itemTemplate]='itemTemplate' (change)="changeCity($event)">
                            <ng-template #itemTemplate let-data>
                                <span>{{data.name}}</span> <span style="float: right"
                                    class="hidden-xs">{{data.district}}</span>
                            </ng-template>
                            <ng-template *ngIf="listOfCities" #noRecordsTemplate>
                                <span class="norecord"> {{language?.noRecords}}</span>
                            </ng-template>
                        </ejs-combobox>
                    </li>

                    <li class="select-option select-range" *ngIf="selectedCityId">
                        <ejs-combobox [cssClass]="'e-outline'" [id]="rangeValue" [dataSource]="ranges"
                            [fields]="{text: 'text', value: 'value'}" [(ngModel)]="rangeValue"
                            [placeholder]="language.selectRange" [allowCustom]="true" (change)="setNewRange($event)">
                            <ng-template *ngIf="ranges" #noRecordsTemplate>
                                <span class="norecord"> {{language?.noRecords}}</span>
                            </ng-template>
                        </ejs-combobox>
                    </li>

                    <li><a class="btn transparent" routerLink="/login"><i class="fa fa-arrow-right"
                                aria-hidden="true"></i>
                            {{language.goToLoginPage}}</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- <div class="left-fixed-ads hidden-xs">
        <div class="outer" *ngIf="!leftFixedAds || leftFixedAds.length == 0">
            <div class="middle">
                <div class="inner-ads">
                    <img style="margin-left: 70px;
                width: 148px;" src="../../../assets/images/ads.png">
                    <h2 style="width: 150px;
                margin-left: 81px;
                font-weight: bold;
                margin-top: 18px;">{{language.placedFixedAd}}</h2>
                </div>
            </div>
        </div>

        <div class="row mt-4" *ngIf="leftFixedAds && leftFixedAds.length > 0">
            <app-ad-card *ngFor="let item of leftFixedAds" [data]="item" class="col-md-12"
                [fixed]="'fixed'"></app-ad-card>
        </div>
    </div> -->

    <div class="mt-2" style="position: inherit;">
        <div *ngIf="loader" style="height: 81vh;">
            <app-loader></app-loader>
        </div>
        <div class="main-container text-right mb-2" *ngIf="allData && allData.length > 0">
            <p class="custom-label total">{{language.totalForShow}}: {{allData.length}}</p>
        </div>
        <div *ngIf="allData && allData.length > 0 && categories">
            <cdk-virtual-scroll-viewport class="container-card" itemSize="20">
                <div class="main-container row" *ngIf="!loader" style="min-height: 81vh;">
                    <ng-container *cdkVirtualFor="let item of allData">
                        <app-ad-card [data]="item" [showDetailsOnClick]="true" [showMoreActionButton]="false"
                            [scaleOnHover]="true" [categories]="categories"
                            class="col-lg-3 col-md-4 col-sm-6 col-xs-12"></app-ad-card>
                    </ng-container>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <div *ngIf="!allData || allData.length == 0" class="outer" style="height: 81vh;">
            <div class="middle">
                <div class="inner">
                    <img style="width: 310px;" src="../../../assets/images/no-data.jpg" alt="no-data">
                    <h4>{{language.noFoundDataForSelectedCity}}</h4>
                </div>
            </div>
        </div>
        <app-footer [language]="language"></app-footer>
    </div>

    <!-- <div class="right-fixed-ads hidden-xs">
        <div class="outer" *ngIf="!rightFixedAds || rightFixedAds.length == 0">
            <div class="middle">
                <div class="inner-ads-right">
                    <img style="margin-right: 70px;
                width: 148px;" src="../../../assets/images/ads.png">
                    <h2 style="width: 150px;
               margin-right: 81px;
               font-weight: bold;
               margin-top: 18px;">{{language.placedFixedAd}}</h2>
                </div>
            </div>
        </div>

        <div class="row mt-4" *ngIf="rightFixedAds && rightFixedAds.length > 0">
            <app-ad-card *ngFor="let item of rightFixedAds" [data]="item" class="col-md-12"
                [fixed]="'fixed'"></app-ad-card>
        </div>
    </div> -->

    <app-cookie *ngIf="showCookieMessage" (cookieEmitter)="hideCookieMessage()"></app-cookie>
</div>