<div *ngIf="language">
    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a routerLink=""><img src="../../../assets/images/logo.png" class="logo" alt="logo"></a>
            </div>
            <nav>
                <div class="nav-mobile">
                    <a href="javascript:void(null)" id="nav-toggle" (click)="showHideMobileMenu()"><span></span></a>
                </div>
                <ul class="nav-list {{showHideMenu}}">
                    <!-- <li>
                        <select class="combobox input-large form-control" name="normal" (change)="changeCity($event)">
                            <option value="" selected="selected" [selected]="selectedCity == '' ? true : false">
                                {{language.selectState}}</option>
                            <option *ngFor="let item of listOfCities" value="{{item.id}}"
                                [selected]="selectedCity == item.id ? true : false">{{item.name}}</option>
                        </select>
                    </li> -->
                    <li class="select-option">
                        <ejs-combobox *ngIf="listOfCities" [cssClass]="'e-outline'" [id]="selectedCityId"
                            [dataSource]="listOfCities" [fields]="{text: 'name', value: 'id'}"
                            [(ngModel)]="selectedCityId" [value]="selectedCityId"
                            [placeholder]="language.selectNameOfCity" [allowFiltering]="true"
                            [itemTemplate]='itemTemplate' (change)="changeCity($event)">
                            <ng-template #itemTemplate let-data>
                                <span>{{data.name}}</span> <span style="float: right"
                                    class="hidden-xs">{{data.district}}</span>
                            </ng-template>
                            <ng-template *ngIf="listOfCities" #noRecordsTemplate>
                                <span class="norecord"> {{language?.noRecords}}</span>
                            </ng-template>
                        </ejs-combobox>
                    </li>

                    <li class="select-option select-range" *ngIf="selectedCityId">
                        <ejs-combobox [cssClass]="'e-outline'" [id]="rangeValue" [dataSource]="ranges"
                            [fields]="{text: 'text', value: 'value'}" [(ngModel)]="rangeValue"
                            [placeholder]="language.selectRange" [allowCustom]="true" (change)="setNewRange($event)">
                            <ng-template *ngIf="ranges" #noRecordsTemplate>
                                <span class="norecord"> {{language?.noRecords}}</span>
                            </ng-template>
                        </ejs-combobox>
                    </li>

                    <li><a class="btn transparent" routerLink="/login"><i class="fa fa-arrow-right"
                                aria-hidden="true"></i>
                            {{language.goToLoginPage}}</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <!-- <div class="left-fixed-ads hidden-xs">
        <div class="outer" *ngIf="!leftFixedAds || leftFixedAds.length == 0">
            <div class="middle">
                <div class="inner-ads">
                    <img style="margin-left: 70px;
                width: 148px;" src="../../../assets/images/ads.png">
                    <h2 style="width: 150px;
                margin-left: 81px;
                font-weight: bold;
                margin-top: 18px;">{{language.placedFixedAd}}</h2>
                </div>
            </div>
        </div>

        <div class="row mt-4" *ngIf="leftFixedAds && leftFixedAds.length > 0">
            <app-ad-card *ngFor="let item of leftFixedAds" [data]="item" class="col-md-12"
                [fixed]="'fixed'"></app-ad-card>
        </div>
    </div> -->

    <div class="mt-4" style="position: inherit;">
        <div *ngIf="loader" style="height: 81vh;">
            <app-loader></app-loader>
        </div>
        <div class="main-container" *ngIf="!loader" style="min-height: 81vh;">
            <div class="text-right" *ngIf="allData.length > 0">
                <p class="custom-label">{{language.totalForShow}}: {{allData.length}}</p>
            </div>
            <div class="row" *ngIf="allData && allData.length > 0">
                <app-ad-card *ngFor="let item of allData" [data]="item" [showDetailsOnClick]="true"
                    [showMoreActionButton]="false" [scaleOnHover]="true" [categories]="categories"
                    class="col-lg-3 col-md-4 col-sm-6 col-xs-12"></app-ad-card>
            </div>
            <div *ngIf="!allData || allData.length == 0" class="outer" style="height: 81vh;">
                <div class="middle">
                    <div class="inner">
                        <img style="width: 310px;" src="../../../assets/images/no-data.jpg" alt="no-data">
                        <h4>{{language.noFoundDataForSelectedCity}}</h4>
                    </div>
                </div>
            </div>
            <div class="footer-bottom py-4" *ngIf="language">
                <div class="container">
                    <div class="row justify-content-between align-items-center pt-2">
                        <div class="col-md-6 col-lg-6 text-left">
                            <div class="copyright-text">
                                <p class="mb-lg-0 mb-md-0">
                                    &copy; Copyright {{ year }}. Made
                                    <a routerLink="/" class="text-decoration-none">CityInfo</a> with
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart"
                                        class="svg-inline--fa fa-heart fa-w-16" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14">
                                        <path fill="currentColor"
                                            d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                        </path>
                                    </svg>
                                    from Austria.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 text-right copyright-text">
                            <a routerLink="/impressum">{{ language.footerImpressum }} | </a>
                            <a routerLink="/privacy-policy">
                                {{ language.footerPrivacyPolicy }} |
                            </a>
                            <a routerLink="/terms">{{ language.footerTerms }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="right-fixed-ads hidden-xs">
        <div class="outer" *ngIf="!rightFixedAds || rightFixedAds.length == 0">
            <div class="middle">
                <div class="inner-ads-right">
                    <img style="margin-right: 70px;
                width: 148px;" src="../../../assets/images/ads.png">
                    <h2 style="width: 150px;
               margin-right: 81px;
               font-weight: bold;
               margin-top: 18px;">{{language.placedFixedAd}}</h2>
                </div>
            </div>
        </div>

        <div class="row mt-4" *ngIf="rightFixedAds && rightFixedAds.length > 0">
            <app-ad-card *ngFor="let item of rightFixedAds" [data]="item" class="col-md-12"
                [fixed]="'fixed'"></app-ad-card>
        </div>
    </div> -->

    <app-cookie *ngIf="showCookieMessage" (cookieEmitter)="hideCookieMessage()"></app-cookie>
</div>