<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a routerLink=""><img src="../../../assets/images/logo.png" class="logo"></a>
        </div>
        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle" (click)="showHideMobileMenu()"><span></span></a>
            </div>
            <ul class="nav-list {{showHideMenu}}">
                <!-- Setting the links to #! will ensure that no action takes place on click. -->

                <li>
                    <select class="combobox input-large form-control" name="normal" (change)="changeCity($event)">
                        <option value="" selected="selected">Select a State</option>
                        <option *ngFor="let item of listOfCities" value="{{item.id}}" [selected]="selectedCity == item.id ? true : false">{{item.name}}</option>
                    </select>
                </li>

                <li><a class="btn transparent" routerLink="/login"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                        Login</a></li>
            </ul>
        </nav>
    </div>
</section>

<div class="left-fixed-ads">
    <div class="outer">
        <div class="middle">
            <div class="inner-ads">
                <img style="margin-left: 70px;
                width: 148px;" src="../../../assets/images/ads.png">
                <h2 style="width: 150px;
                margin-left: 81px;
                font-weight: bold;
                margin-top: 18px;">Place your fixed Ad here</h2>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row" *ngIf="allAds && allAds.length > 0">
        <app-ad-card *ngFor="let item of allAds" [data]="item" class="col-md-4"></app-ad-card>

    </div>
    <div *ngIf="!allAds || allAds.length == 0" class="outer">
        <div class="middle">
            <div class="inner">
                <img style="width: 310px;" src="../../../assets/images/no-data.jpg">
                <h4>No data found for selected city!</h4>
            </div>
        </div>
    </div>
</div>


<div class="right-fixed-ads">
    <div class="outer">
        <div class="middle">
            <div class="inner-ads-right">
                <!-- <img src="../../../assets/images/logo.png"> -->
                <img style="margin-right: 70px;
                width: 148px;" src="../../../assets/images/ads.png">
                <h2 style="width: 150px;
               margin-right: 81px;
               font-weight: bold;
               margin-top: 18px;">Place your fixed Ad here</h2>
            </div>
        </div>
    </div>
</div>