img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--c-border-primary);
  background-color: var(--c-background-primary);
}

.header-content {
  display: flex;
  align-items: center;
  & > a {
    display: none;
  }
  @media (max-width: 1200px) {
    justify-content: space-between;
    & > a {
      display: inline-flex;
    }
  }
}

.header-logo {
  margin-right: 2.5rem;
  a {
    display: flex;
    align-items: center;
    div {
      // outline: 2px solid;
      flex-shrink: 0;
      position: relative;
      &:after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: auto;
        right: 0;
        bottom: 0;
        overflow: hidden;
        height: 50%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: rgba(#fff, 0.2);
        backdrop-filter: blur(4px);
      }
    }
  }
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1200px) {
    display: none;
  }
}

.header-navigation-links {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--c-text-action);
    font-weight: 700;
    transition: 0.15s ease;
    & + * {
      margin-left: 1.5rem;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--btn-color);
    }
  }
}

.header-navigation-actions {
  display: flex;
  align-items: center;
  & > .avatar {
    margin-left: 0.75rem;
  }
  & > .icon-button + .icon-button {
    margin-left: 0.25rem;
  }

  & > .button + .icon-button {
    margin-left: 1rem;
  }
}

.button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 40px;
  border-radius: 8px;
  line-height: 1;
  border: 2px solid var(--c-border-primary);
  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;
  background-color: var(--c-background-primary);

  i {
    margin-right: 0.5rem;
    font-size: 1.25em;
  }

  span {
    font-weight: 500;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: var(--c-accent-primary);
    color: var(--c-accent-primary);
  }
}

.icon-button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  color: var(--c-text-action);
  transition: 0.15s ease;
  i {
    font-size: 1.25em;
  }

  &:focus,
  &:hover,
  &:active {
    background-color: var(--c-background-tertiary);
    color: var(--c-accent-primary);
  }
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.logo {
  width: 150px;
}

.mobile-menu {
  display: block;
  width: 100%;
  position: absolute;
  top: 81px;
  background: #ffffff;
  left: 0;
  padding: 11px;
  z-index: 1;
  color: white;
  box-shadow: 0px 2px 7px 0px #bfbfb1;
  transition: all 1s ease-in !important;
}

.mobile-menu ul li {
  padding: 5px;
}

.mobile-menu ul li a {
  color: #007bff;
}

@media (max-width: 1200px) {
  .mobile-menu {
    display: block;
  }
}

@media (min-width: 1201px) {
  .mobile-menu {
    display: none;
  }
}
