<main class="main">
    <div class="container">
        <section class="wrapper">
            <div class="heading">
                <h1 class="text text-large">{{language.recoveryTitle}}</h1>
                <p class="text text-normal">{{language.recoveryText}}
                </p>
            </div>
            <form name="signin" class="form">
                <div class="input-control">
                    <input type="password" [(ngModel)]="data.password" name="password" id="password" class="input-field" placeholder="{{language.recoveryPassword}}">
                </div>
                <div class="input-control">
                    <label for="password" class="input-label" hidden>Password</label>
                    <input type="password" [(ngModel)]="data.repetPassword" name="repetPassword" id="repetPassword" class="input-field" placeholder="{{language.recoveryRepeatPassword}}">
                </div>
                <div class="input-control">
                    <button class="btn border" (click)="recoveryPassword()">{{language.recoveryRecoveryPassword}}</button>
                </div>
            </form>
        </section>
    </div>
</main>