<div class="container mt-4">

    <div class="text-right mb-4">
        <button class="btn solid login" (click)="createNewAdDraft()" style="font-size: 15px">Create Ad draft</button>
    </div>
    <div class="outer" *ngIf="!listOfAds || listOfAds.length == 0">
        <div class="middle">
            <div class="inner">
                <img style="width: 310px;" src="../../../assets/images/no-data-for-user.png">
                <h4>{{language.noHaveAdYet}}</h4>
                <h5>{{language.createNewOneAd}}</h5>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="listOfAds">
        <div *ngFor="let item of listOfAds" class="col-md-4">
            <app-ad-card [data]="item" [edit]="true" (clickEmitter)="clickEmitter($event)"></app-ad-card>
        </div>
    </div>

    <ejs-dialog id='dialog' #dialog showCloseIcon='true' (beforeOpen)="onBeforeOpen($event)" showOnInit="true"
        [visible]="false" [isModal]="true" [position]="dialogPosition" width="300px">
        <ng-template #content>
            <div class="row">

                <div class="col-md-12">
                    <label class="custom-label">{{language.nameOfCompany}}</label>
                    <ejs-textbox cssClass="e-outline" [id]="data.name" [(ngModel)]="data.name"
                        name="name"></ejs-textbox>
                </div>
                <div class="col-md-12">
                    <label class="custom-label">{{language.address}}</label>
                    <ejs-textbox cssClass="e-outline" [id]="data.address" [(ngModel)]="data.address"
                        name="address"></ejs-textbox>
                </div>

                <div class="col-md-12 row m-0 p-0">

                    <div class="col-md-6">
                        <label class="custom-label">{{language.phone}}</label>
                        <ejs-textbox cssClass="e-outline" [id]="data.phone" [(ngModel)]="data.phone"
                            name="phone"></ejs-textbox>
                    </div>

                    <div class="col-md-6">
                        <label class="custom-label">{{language.email}}</label>
                        <ejs-textbox cssClass="e-outline" [id]="data.email" [(ngModel)]="data.email"
                            name="email"></ejs-textbox>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="custom-label">{{language.description}}</label>
                    <ejs-textbox multiline="true" cssClass="e-outline" [id]="data.description"
                        [(ngModel)]="data.description" name="description"></ejs-textbox>
                </div>
                <div class="col-md-12">
                    <label class="custom-label">{{language.uploadCoverImage}}</label>
                    <ejs-uploader #defaultupload [asyncSettings]="asyncSettings" [autoUpload]="false"
                        (uploading)="onUploadBegin($event)" (change)="changesFile($event)"
                        (removing)="clearingFile($event)" (clearing)="clearingFile($event)"
                        [buttons]="{upload: language.uploadCoverImageButton}"></ejs-uploader>
                </div>
                <div *ngIf="editButton" class="col-md-12 text-right mt-4">
                    <button class="btn" (click)="editAd()">{{language.editAd}}</button>
                </div>
            </div>
        </ng-template>
    </ejs-dialog>


</div>