<body class="antialiased bg-gray-200 font-sans mb-4" *ngIf="data">
    <div class="max-w-6xl mx-auto">
        <div>
            <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 card-body p-0" (click)="showDetails()">
                <div
                    class="bg-white shadow-xl rounded-lg overflow-hidden card-item {{scaleOnHover ? 'scale' : ''}} {{data.position == 1 ? 'fixed' : ''}}">
                    <div class="more-option">
                        <i *ngIf="showMoreActionButton" #options class="fa fa-ellipsis-v option-button"
                            (click)="optionsVisible = !optionsVisible"></i>
                        <div *ngIf="optionsVisible" class="options">
                            <ul>
                                <li><a (click)="editButton()"><i class="fa fa-edit"></i> {{language.editPromotion}}</a>
                                </li>
                                <li *ngIf="promotion"><a (click)="createDuplicate()"><i class="fa fa-clone"></i>
                                        {{language.createDuplicate}}</a>
                                </li>
                                <li>
                                    <hr class="m-0">
                                </li>
                                <li *ngIf="promotion && data.active"><a (click)="confirmDeactiveCampaign = true"
                                        class="delete-promotion"><i class="fa fa-eye-slash"></i>
                                        {{language.deactiveCampaign}}</a></li>
                                <li *ngIf="promotion && !data.active"><a (click)="confirmActiveCampaign = true"
                                        class="active-promotion"><i class="fa fa-eye"></i>
                                        {{language.activeCampaign}}</a></li>
                                <li *ngIf="promotion && data.start_date_top"><a (click)="confirmCancelPromotion = true"
                                        class="delete-promotion"><i class="fa fa-ban"></i>
                                        {{language.cancelPromotion}}</a></li>
                                <li *ngIf="promotion"><a (click)="confirmDeleteDialog = true"
                                        class="delete-promotion font-bold"><i class="fa fa-trash"></i>
                                        {{language.deletePromotion}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="bg-cover bg-center h-55">
                        <app-loader-content *ngIf="!cover"></app-loader-content>
                        <img *ngIf="cover" [src]="cover">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tracking-wide font-bold text-gray-700 three-dots border-t border-gray-300 p-2"
                                title="{{data.name}}">{{data.name}}
                            </h6>
                            <div class="p-2" style="height: 67px">
                                <h6 class="text-gray-700" title="{{data.address}}"><span
                                        class="fa fa-map-marker"></span>
                                    {{data.address ? data.address : data.city_name}}
                                </h6>
                                <div *ngIf="showDate || data.datetime" class="start-end-date">
                                    <div *ngIf="data.datetime">
                                        <h6 class="text-gray-700 display-inline"><span class="fa fa-calendar"></span>
                                            {{dayAWeek}} {{data.datetime |
                                            date:
                                            'dd.MM.yyyy / HH:mm'}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="border-t border-gray-300 p-2"
                                *ngIf="(data.start_date || data.start_date_top || data.expired_date) && showDate">
                                <p *ngIf="!data.datetime" class="text-gray-700 start-date">
                                    {{data.start_date |
                                    date:
                                    'dd.MM.yyyy'}}</p>
                                <p *ngIf="data.datetime" class="text-gray-700 start-date">
                                    {{data.start_date_top
                                    | date:
                                    'dd.MM.yyyy'}}</p>
                                <p class="text-gray-700 expired-date">{{data.expired_date |
                                    date: 'dd.MM.yyyy'}}
                                </p>
                            </div>
                            <div class="badge-info">
                                <span *ngIf="(data.start_date || data.expired_date) && !data.datetime" class="ad-badge"
                                    title="{{language.adTitle}}">{{language.ad}}</span>
                                <span *ngIf="data.datetime && data.position != 1" class="event-badge"
                                    title="{{language.eventTitle}}">{{language.event}}</span>
                                <span *ngIf="data.datetime && data.position == 1" class="event-badge"
                                    title="{{language.eventTitle}}">{{language.eventPayed}}</span>
                                <span *ngIf="data.type == getCardTypePlace()" class="place-badge"
                                    title="{{language.placeTitle}}">{{language.placeTitle}}</span>
                                <span *ngIf="promotion && data.active"
                                    class="badge-active ml-1">{{language.active}}</span>
                                <span *ngIf="promotion && !data.active"
                                    class="badge-inactive ml-1">{{language.inactive}}</span>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="additionalInformation" class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100">
                        <div class="text-xs uppercase font-bold text-gray-600 tracking-wide">
                            {{language.additionalInformation}}</div>
                        <div class="items-center pt-2">
                            <p class="text-sm text-gray-700">{{language.position}}:
                                {{additionalInformation.position}}
                            </p>
                            <p class="text-sm text-gray-700">{{language.city}}:
                                {{additionalInformation.city}}
                            </p>
                            <p *ngIf="additionalInformation.start_date" class="text-sm text-gray-700">
                                {{language.startDate}}:
                                {{additionalInformation.start_date | date: 'dd.MM.yyyy'}}
                            </p>
                            <p *ngIf="additionalInformation.expired_date" class="text-sm text-gray-700">
                                {{language.expiredDate}}:
                                {{additionalInformation.expired_date | date: 'dd.MM.yyyy'}}
                            </p>
                            <p *ngIf="additionalInformation.price" class="text-sm text-gray-700">{{language.price}}:
                                {{additionalInformation.price}}
                            </p>
                        </div>
                    </div>
                    <!-- <div *ngIf="edit" class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100 text-center">
                        <button class="btn edit" (click)="editButton()">{{language.edit}}</button>
                    </div> -->
                    <div *ngIf="promotion && checkPromoButton"
                        class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100 text-center">
                        <button class="btn edit" (click)="promotionButton()">{{language.promotion}}</button>
                    </div>
                    <div *ngIf="additionalInformation && !additionalInformation.active && approveDenyButton"
                        class="px-4 pt-3 pb-4 border-t border-gray-300 bg-gray-100 text-center">
                        <button class="btn edit" (click)="approveAd()">{{language.approveAd}}</button>
                        <button class="btn delete ml-2" (click)="denyAd()">{{language.denyAd}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ejs-dialog #dialog showCloseIcon='true' showOnInit="true" [visible]="false" [isModal]="true" width="200px"
        [title]="'Test'">
        <ng-template #header>
            <span>
                {{data.name}}</span>
        </ng-template>

        <ng-template #content>

            <div class="text-xs uppercase font-bold text-gray-600 tracking-wide">{{language.description}}
            </div>
            <div class="flex items-center pt-2 pb-2">
                <p *ngIf="data.description" class="text-sm text-gray-700 description">{{data.description}}
                </p>
                <p *ngIf="!data.description" class="text-sm text-gray-700 description text-italic">
                    {{language.noDescriptionInformationAvailable}}
                </p>
            </div>

            <div class="flex p-4 border-t border-gray-300 text-gray-700 contact">
                <div *ngIf="data.phone" class="flex-1  items-center">
                    <a href="tel:{{data.phone}}">
                        <span class="fa fa-phone new-row"></span>
                        <span class="text-gray-900 font-bold"></span> {{language.contactUs}}</a>
                </div>
                <div *ngIf="data.email" class="flex-1  items-center">
                    <a href="mailto:{{data.email}}">
                        <span class="fa fa-envelope new-row"></span>
                        <span class="text-gray-900 font-bold"></span> {{language.sendMail}}</a>
                </div>
                <div *ngIf="data.map_link" class="flex-1  items-center">
                    <a href="{{data.map_link}}" target="_blank">
                        <span class="fa fa-map-marker new-row"></span>
                        <span class="text-gray-900 font-bold"></span> {{language.seeLocationOnMap}}</a>
                </div>
                <div *ngIf="!data.phone && !data.email && !data.map_link" class="no-contact-information">
                    {{language.noContactInformationAvailable}}
                </div>
            </div>
        </ng-template>
    </ejs-dialog>
</body>

<app-dialog-confirm *ngIf="confirmDeleteDialog" [icon]="'trash.png'" [text]="language.actionCantBeReturned"
    (dialogEmitter)="confirmDeleteAction($event)"></app-dialog-confirm>
<app-dialog-confirm *ngIf="confirmDeactiveCampaign" [icon]="'not-visible.png'"
    [text]="language.deactiveYourCampaignQuestion"
    (dialogEmitter)="confirmDeactiveCampaignAction($event)"></app-dialog-confirm>
<app-dialog-confirm *ngIf="confirmActiveCampaign" [icon]="'visible.png'" [text]="language.activeYourCampaignQuestion"
    (dialogEmitter)="confirmActiveCampaignAction($event)"></app-dialog-confirm>
<app-dialog-confirm *ngIf="confirmCancelPromotion" [icon]="'cancel-promotion.png'"
    [text]="language.cancelYourPromotionQuestion"
    (dialogEmitter)="confirmCancelPromotionAction($event)"></app-dialog-confirm>