<div *ngIf="loaderData" class="full-height">
    <app-loader></app-loader>
</div>

<div *ngIf="!loaderData" class="container mt-4">

    <div class="text-right mb-4">
        <button class="btn solid login" (click)="createNewPlace()"
            style="font-size: 15px">{{language.createNewPlace}}</button>
    </div>
    <div class="outer" *ngIf="!listOfPlaces || listOfPlaces.length == 0">
        <div class="middle">
            <div class="inner">
                <img style="width: 310px;" src="../../../assets/images/no-data-for-user.png">
                <h4>{{language.noHaveAdYet}}</h4>
                <h5>{{language.createNewOneAd}}</h5>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="listOfPlaces&&categories">
        <div *ngFor="let item of listOfPlaces" class="col-md-4">
            <app-ad-card [data]="item" [edit]="true" [type]="'place'" (clickEmitter)="clickEmitter($event)"
                [categories]="categories"></app-ad-card>
        </div>
    </div>

    <ejs-dialog id='dialog' #dialog showCloseIcon='true' (beforeOpen)="onBeforeOpen($event)" showOnInit="true"
        [visible]="false" [isModal]="true" [position]="dialogPosition" width="300px">
        <ng-template #content>
            <app-loader *ngIf="loader"></app-loader>
            <form #myForm="ngForm" *ngIf="!loader">
                <div class="row">
                    <div class="col-md-12">
                        <label class="custom-label">{{language.nameForPlace}} <span class="required"
                                title="{{language.required}}">*</span></label>
                        <ejs-textbox cssClass="e-outline" [id]="data.name" [(ngModel)]="data.name" name="name"
                            required></ejs-textbox>
                    </div>

                    <div class="col-md-12">
                        <label class="custom-label">{{language.cityForPlace}} <span class="required"
                                title="{{language.required}}">*</span></label>
                        <ejs-combobox [cssClass]="'e-outline'" [id]="data.city" [dataSource]="cities"
                            [fields]="{text: 'name', value: 'id'}" [(ngModel)]="data.city" name="city"
                            [placeholder]="language.selectNameOfCityForPlace" [allowFiltering]="true" required>
                            <ng-template *ngIf="cities" #noRecordsTemplate>
                                <span class="norecord"> {{language?.noRecords}}</span>
                            </ng-template>
                        </ejs-combobox>
                    </div>

                    <div class="col-md-12 row m-0 p-0">

                        <div class="col-md-6">
                            <label class="custom-label">{{language.phoneForPlace}} </label>
                            <ejs-textbox cssClass="e-outline" [id]="data.phone" [(ngModel)]="data.phone"
                                name="phone"></ejs-textbox>
                        </div>

                        <div class="col-md-6">
                            <label class="custom-label">{{language.emailForPlace}} </label>
                            <ejs-textbox cssClass="e-outline" [id]="data.email" [(ngModel)]="data.email"
                                name="email"></ejs-textbox>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <label class="custom-label">{{language.mapLinkForPlaces}} <span class="required"
                                title="{{language.required}}">*</span></label>
                        <ejs-textbox cssClass="e-outline" [id]="data.map_link" [(ngModel)]="data.map_link"
                            name="map_link" required></ejs-textbox>
                    </div>

                    <div class="col-md-12">
                        <label class="custom-label">{{language.descriptionForPlace}}</label>
                        <ejs-textbox multiline="true" cssClass="e-outline" [id]="data.description"
                            [(ngModel)]="data.description" name="description"></ejs-textbox>
                    </div>

                    <div class="col-md-12">
                        <label class="custom-label">{{language.categoryForPlace}} </label>
                        <ejs-multiselect [cssClass]="'e-outline'" [id]="data.category" [dataSource]="categories"
                            [fields]="{text: 'name', value: 'id'}" [(ngModel)]="data.category" name="category"
                            [placeholder]="language.selectNameOfCategoryForPlace" [allowFiltering]="true">
                            <ng-template *ngIf="categories" #noRecordsTemplate>
                                <span class="norecord"> {{language?.noRecords}}</span>
                            </ng-template>
                        </ejs-multiselect>
                    </div>

                    <div class="col-md-12 col-md-12 text-center">
                        <label class="custom-label text-left">{{language.uploadPictureForPlace}} <span class="required"
                                title="{{language.required}}">*</span></label>
                        <div class="box">

                            <div class="col-md-12 text-center mt-2 mb-2" *ngIf="coverImage && !cropImgPreview">
                                <img [src]="coverImage" style="width: 400px;" />
                            </div>

                            <div class="col-md-12 mt-2 mb-2" *ngIf="imgChangeEvt">
                                <div class="text-end remove-image-icon">
                                    <button (click)="removeImage()"><span class="fa fa-times"></span></button>
                                </div>
                                <image-cropper [imageChangedEvent]="imgChangeEvt" [maintainAspectRatio]="true"
                                    [aspectRatio]="4 / 3" format="png" (imageCropped)="cropImg($event!)"
                                    (imageLoaded)="imgLoad()" (cropperReady)="initCropper()"
                                    (loadImageFailed)="imgFailed()">
                                </image-cropper>
                            </div>

                            <input type="file" (change)="onFileChange($event)" name="file-1[]" id="file-1"
                                class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
                            <label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                                    viewBox="0 0 20 17">
                                    <path
                                        d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                                </svg> <span>{{language.chooseCoverImageForPlace}}&hellip;</span></label>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label class="custom-label mr-2">{{language.activeForPlace}}</label>
                        <ejs-switch #active [id]="data.active" [(ngModel)]="data.active" name="active"></ejs-switch>
                    </div>
                    <!-- <div class="col-md-12">
                    <label class="custom-label">{{language.uploadCoverImage}}</label>
                    <ejs-uploader #defaultupload [asyncSettings]="asyncAdsSettings" [autoUpload]="false"
                        (uploading)="onUploadBegin($event)" (change)="changesFile($event)"
                        (removing)="clearingFile($event)" (clearing)="clearingFile($event)"
                        [buttons]="{upload: language.uploadCoverImageButton}"></ejs-uploader>
                </div> -->

                    <div class="col-md-12 pt-4">
                        <div class="mb-2" style="display: inline-flex;">
                            <ejs-checkbox name="termsAndPrivacy" [(ngModel)]="acceptTermsAndPrivacy"></ejs-checkbox>
                            <label class="custom-label color-blue ml-2 m-0">
                                {{
                                language.agreeTermsAndPrivacyForPlace }}
                                <a routerLink="/terms" target="_blank" class="signup-term-link">{{ language.footerTerms
                                    }}</a>
                                {{ language.and }}
                                <a routerLink="/privacy-policy" target="_blank" class="signup-term-link">{{
                                    language.footerPrivacyPolicy }}</a> <span class="required"
                                    title="{{language.required}}">*</span></label>
                        </div>
                        <div style="display: inline-flex;">
                            <ejs-checkbox name="imageWarranty" [(ngModel)]="imageWarranty"></ejs-checkbox>
                            <label class="custom-label color-blue ml-2 m-0">
                                {{language.imageWarrantyForPlace}} <span class="required"
                                    title="{{language.required}}">*</span></label>
                        </div>
                    </div>
                    <div class="col-md-12 text-right mt-4"
                        [title]="!myForm.valid || !coverImage || !acceptTermsAndPrivacy || !imageWarranty ? language.needToFillAllDataWithRedStar : ''">
                        <button class="btn" (click)="saveEntry()"
                            [disabled]="!myForm.valid || !coverImage || !acceptTermsAndPrivacy || !imageWarranty">{{language.placeButton}}</button>
                    </div>
                </div>
            </form>
        </ng-template>
    </ejs-dialog>
</div>