<div *ngIf="loaderData" class="full-height">
    <app-loader></app-loader>
</div>

<div *ngIf="!loaderData" class="container mt-4">

    <div class="text-right mb-4">
        <button class="btn solid login" (click)="createNew()"
            style="font-size: 15px">{{language.createNewPaidAd}}</button>
    </div>
    <div class="outer" *ngIf="!listOfPaid || listOfPaid.length == 0">
        <div class="middle">
            <div class="inner">
                <img style="width: 310px;" src="../../../assets/images/no-data-for-user.png">
                <h4>{{language.noHaveYetPaidStaff}}</h4>
                <h5>{{language.createNewOneAd}}</h5>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="listOfPaid">
        <div *ngFor="let item of listOfPaid" class="col-md-4">
            <app-ad-card [data]="item" [showDate]="true" [promotion]="true"
                (clickEmitter)="clickEmitter($event)"></app-ad-card>
        </div>
    </div>

    <ejs-dialog id='dialogChange' #dialogChange showCloseIcon='true' (beforeOpen)="onBeforeOpen($event)"
        showOnInit="true" [visible]="false" [isModal]="true" [position]="dialogPosition" width="300px">
        <ng-template #content>
            <div>
                <app-dynamic-forms *ngIf="changeData&&config" [config]="config" [data]="changeData" [path]="path"
                    [file]="file" (submit)="submitEmitter($event)"></app-dynamic-forms>
            </div>
        </ng-template>
    </ejs-dialog>

    <ejs-dialog id='dialog' #dialog showCloseIcon='true' (beforeOpen)="onBeforeOpen($event)" showOnInit="true"
        [visible]="false" [isModal]="true" [position]="dialogPosition" width="300px">
        <ng-template #content>
            <div>
                <app-dynamic-forms [path]="path" [file]="file" (submit)="submitEmitter($event)"></app-dynamic-forms>
            </div>
        </ng-template>
    </ejs-dialog>

    <!--CARD -->

    <ejs-dialog id='card' #card showCloseIcon='true' (beforeOpen)="onBeforeOpen($event)" (close)="paymentDialogClose()"
        showOnInit="true" [visible]="false" [isModal]="true" [position]="dialogPosition" width="300px">
        <ng-template #content>
            <div class="row" *ngIf="!loader">
                <div class="col-md-6">
                    <app-ad-card *ngIf="data&&paidAd&&adPreview" [data]="data" [additionalInformation]="paidAd"
                        [approveDenyButton]="false"></app-ad-card>
                </div>
                <div class="col-md-6">
                    <h3 clas="text-center">{{language.cardInformation}}</h3>
                    <hr>
                    <div *ngIf="user" class="row">
                        <div class="col-md-12">
                            <label class="custom-label">{{language.nameOfOrganization}}</label>
                            <ejs-textbox cssClass="e-outline" [id]="user.nameOfOrganization"
                                [(ngModel)]="user.nameOfOrganization" name="name"></ejs-textbox>
                        </div>
                        <div class="col-md-12">
                            <label class="custom-label">{{language.address}}</label>
                            <ejs-textbox cssClass="e-outline" [id]="user.address" [(ngModel)]="user.address"
                                name="name"></ejs-textbox>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-label">{{language.email}}</label>
                            <ejs-textbox cssClass="e-outline" [id]="user.email" [(ngModel)]="user.email"
                                name="name"></ejs-textbox>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-label">{{language.phone}}</label>
                            <ejs-textbox cssClass="e-outline" [id]="user.phone" [(ngModel)]="user.phone"
                                name="name"></ejs-textbox>
                        </div>
                    </div>
                    <div class="mt-4">
                        <stripe-card #stripeCard (tokenChange)="setStripeToken($event)"
                            (sourceChange)="setStripeSource($event)"></stripe-card>
                        <div class="text-right">
                            <button class="button-action e-info e-control e-btn e-lib mt-4" type="button"
                                (click)="stripeCard.createToken()">{{language.payForAds}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="loader">
                <app-loader></app-loader>
            </div>
        </ng-template>
    </ejs-dialog>
</div>