<!-- <section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <a routerLink=""><img src="../../../assets/images/logo.png" class="logo"></a>
        </div>
        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle" (click)="showHideMobileMenu()"><span></span></a>
            </div>
            <ul class="nav-list {{showHideMenu}}">

                <li>
                    <select class="combobox input-large form-control" name="normal" (change)="changeCity($event)">
                        <option value="" selected="selected">{{language.selectState}}</option>
                        <option *ngFor="let item of listOfCities" value="{{item.id}}"
                            [selected]="selectedCity == item.id ? true : false">{{item.name}}</option>
                    </select>
                </li>

                <li><a class="btn transparent" routerLink="/login"><i class="fa fa-arrow-right" aria-hidden="true"></i>
                        {{language.login}}</a></li>
            </ul>
        </nav>
    </div>
</section> -->